@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* ///daniel */
/* Set height of body and the document to 100% to enable "full page tabs" */
.navbar {
  padding: 0;
  background-image: url("../images/foodie2x.png");
  background-size: cover;
}

#logo {
  width: 250px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(63, 55, 55));
  filter: drop-shadow(5px 5px 5px rgb(63, 55, 55));
  align-content: center;
}

.navbar-brand {
  margin: 0 auto;
}

body {
  background-image: url("../images/foodie2x.png");
  background-size: contain;
  height: 100%;
  margin: 0;
  font-family: "Reem Kufi", sans-serif;
  font-weight: bolder;
}

button {
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 100px;
  padding: 15px 32px;
  border: none;
  background: #e30022;
}

/* Style tab links */
.tablink {
  background-color: #90000e;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #90000e;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  background-color: #f5ede0 !important;
  /* background-image: url("/Users/danielthomasguadalupe/gt-ft/project1/assets/images/foodie.png");
  background-size: cover; */
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  color: white;
}

searchTerm {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #e30022;
  background-color: #90000e;
  color: white;
  border-color: #e30022;
  font-family: "Roboto", sans-serif;
}
searchTerm:focus {
  color: #ffffff;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid rgb(205, 10, 10);
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 25px;
}
.fa-hand-pointer {
  color: white;
  background: #e30022;
  font-size: 30px;
}
.modal {
  width: 100%;
  height: 100%;
}

.modal-backdrop {
  background-color: transparent;
}

/* results container */
.search-results {
  padding-top: 20px;
  text-align: center;
  background-color: #f5ede0;
  font-family: "Reem Kufi", sans-serif;
  font-weight: bolder;
  border: 3px solid rgb(205, 10, 10);
  display: none;
}
/*Resize the wrap to see the search bar change!*/

/* ID STYLES */
#recipeCard {
  /* width: 500px; */
  margin-bottom: 15px;
}

#cardTitle {
  text-align: center;
}

#recipeImg {
  padding: 5%;
}

#openRecipeButton,
#viewIngredients {
  width: 100%;
}

#sendIngridents {
  float: right;
}
/* MEDIA QUERIES */
/* MEDIA QUERIES */

/* TABLE CSS */

table {
  border-collapse: collapse;
  border: 2px solid #1a237e;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid #b0bec5;
  padding: 10px 20px;
}

th {
  background-color: #e8eaf6;
  text-align: center;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #f5f5f5;
}

tr:nth-child(odd) td {
  background-color: #fafafa;
}

caption {
  padding: 10px;
}

/* footer styling starts here*/
footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height:30-px ;
  background-color: #edeef5;
  margin-top: auto ;

}

