@import url(https://fonts.googleapis.com/css?family=Open+Sans);



/* ///daniel */
/* Set height of body and the document to 100% to enable "full page tabs" */
.navbar {
  padding: 0;
  background-image: url("../images/foodie2x.png");
  background-size: cover;
}

#logo {
      width: 250px;
      -webkit-filter: drop-shadow(5px 5px 5px rgb(63, 55, 55));
      filter: drop-shadow(5px 5px 5px  rgb(63, 55, 55));
      align-content: center;
    }
.navbar-brand {
  margin: 0 auto;
}

body {
  background-image: url("../images/foodie2x.png");
  background-size: contain;
  height: 100%;
  margin: 0;
  font-family: 'Reem Kufi', sans-serif;
  font-weight: bolder;
}


button {
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 100px;
  padding: 15px 32px;
  border: none;
  background: #e30022;
}

/* Style tab links */
.tablink {
  background-color: #90000e;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #90000e;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  background-color: #F5EDE0 !important;
  /* background-image: url("/Users/danielthomasguadalupe/gt-ft/project1/assets/images/foodie.png");
  background-size: cover; */

} 

.search {
  width: 100%;
  position: relative;
  display: flex;
  color: white;
}

searchTerm {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #e30022;
  background-color: #90000e;
  color: white;
  border-color: #e30022;
  font-family: "Roboto", sans-serif;
}
searchTerm:focus {
  color: #ffffff;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid rgb(205, 10, 10);
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 25px;
}
.fa-hand-pointer {
  color: white;
  background: #e30022;
  font-size: 30px;
}


/* results container */
 .search-results {
   padding-top: 20px;
   text-align: center;
   background-color: #F5EDE0;
   font-family: 'Reem Kufi', sans-serif;   
   font-weight: bolder;
   border: 3px solid rgb(205, 10, 10);
   display: none;

 }
 
 .button-style-class {
   width: 100px;
   height: 110px;
   color: #b99999;
    /* diet specific buttons  */
   src="./assets/images/blkbutton/paleo.png"
   src="./assets/images/blkbutton/raw.png"
   src="./assets/images/blkbutton/keto.png"
   src="./assets/images/blkbutton/vegan2.png"
   src="./assets/images/blkbutton/vegetarian.png"
   src="./assets/images/blkbutton/zerocarb.png"
   src="./assets/images/blkbutton/trans.png"
   src="./assets/images/blkbutton/liquid.png"
   /* food allergies buttons */
   src="./assets/buttons/gluten.png"
   src="./assets/buttons/shellfish.png"
   src="./assets/buttons/alcohol.png"
   src="./assets/buttons/peanuts.png"
   src="./assets/buttons/egg.png"
   src="./assets/buttons/fish.png"
   src="./assets/buttons/corn.png"
   src="./assets/buttons/nuts.png"
    

  }



  







 
 

/*Resize the wrap to see the search bar change!*/


/* ID STYLES */
#recipeCard {
  /* width: 500px; */
  margin-bottom: 15px;
}

#cardTitle {
  text-align: center;
}

#recipeImg {
  /* width: 200px; */
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */


.container  {
  float: left;
  color: #ebf0e9;
}
